/* HEADER */

.header {
  height: 100px; 
  width: 100%; 
  background-color: #333333;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  display: flex; 
}

.footer {
  height: 63px; 
  width: 100%; 
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  display: flex; 
  background-color: #DDDDDD;
}

h1 {
  color: white;
  font-weight: bold;
}

/* JOBS */
.jobs {
  display: flex; 
  flex-wrap: wrap;
  margin: 10px;

}

/* JOB */
.job {
height: 300px; 
width: 300px;
margin: 10px; 
padding: 10px; 
display: flex; 
flex-direction: column;
justify-content: space-between;
font-family: 'Roboto', sans-serif;
background-color: #008891;  
color: white;


}

.red {
  border: 3px solid lightgray;
 

}

.orange{
  border: 3px solid lightgray;
}

.yellow{
  border: 3px solid lightgray
}

.pink{
  border: 3px solid lightgray;
}

.blue{
  border: 3px solid lightgray;
}